<h2 class="text-center">Introduction</h2>
<hr />

<div>
	<h4><u>Tips using this application</u></h4> <br />

	1)This is a responsive single page appliaction<br />
	2)All the data is obtained from the call_queue.json file and there is no hardcoding done<br />
	3)Please use chrome browser/opera because follow-up has input type data, which is only supported by these browsers<br />
	4)There are 4 Main tabs present<br />
		
	<div style="padding-left:3%">
		a) <a href="#call_queue"> <u>  Call que </u></a> tab shows the data of a person obtained from json file and when the name of the person is clicked his pervious problem and treatment done is shown<br />
		b) <a href="#email_queue"> <u>Email queue</u></a> just shows person email address and phone number obtained from json file<br />
		c) <a href="#Follow-up"><u>Set follow up</u></a> tab shows the error message if the message is not posted and handling $http error<br />
		d) <a href="#Draggable"><u>View draggable </u></a>show how the two input elements can be dragged and placed in different position
	</div>
	
</div>
