
<h2 class="text-center">{{person}} Details<h2>
<hr /> 
<table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">problem</th>
                    <th class="text-center">solution</th>

                </tr>
            </thead>


            <tbody>
                <tr >
                    <td class="text-center">{{check.problems}}</td>
                    <td class="text-center">{{check.solution}}</td>
                </tr>

            </tbody>
</table>


